exportPattern("^[[:alpha:]]+")
import(plyr, ggplot2, grid, reshape2, pcaMethods, xml2, base64enc, xcms)
importFrom(grDevices, nclass.FD)
importFrom(stats, approx, coef, complete.cases, cor, density, dnorm, loess, median, qf, qt, residuals, sd, var)
importFrom(utils, flush.console, read.table)
import(purrr)
import(xcms)
importFrom(dplyr,"%>%")
importFrom(dplyr,as.tbl)
importFrom(dplyr,data_frame)
importFrom(dplyr,mutate)
importFrom(dplyr,select)
